h1 {
  font-family: Roboto;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
} 
.header {
  margin: auto;
  border: dashed 1px red;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding-right: 16px;
} 
.logo {
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  width: 190px;
  height:28px;
  background: url('logo.svg');
  background-repeat: no-repeat;
}